[core]
	editor = nvim
	pager = delta
	autocrlf = input
	whitespace = trailing-space,space-before-tab

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	default = simple
	followTags = true

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[rerere]
	enabled = true

[fetch]
	prune = true

[merge]
	conflictstyle = diff3
	tool = nvim

[mergetool "nvim"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[diff]
	colorMoved = default
	algorithm = histogram

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	side-by-side = true
	line-numbers = true
	syntax-theme = Catppuccin-macchiato
	line-numbers-left-format = "{nm:>4}┊"
	line-numbers-right-format = "{np:>4}│"
	minus-style = syntax "#3e2e34"
	minus-emph-style = syntax "#59333d"
	plus-style = syntax "#2d3f3b"
	plus-emph-style = syntax "#36544e"
	line-numbers-minus-style = "#ed8796"
	line-numbers-plus-style = "#a6da95"
	line-numbers-zero-style = "#6e738d"
	commit-decoration-style = bold yellow box
	file-style = bold yellow
	file-decoration-style = none
	hunk-header-decoration-style = cyan box
	hunk-header-file-style = red
	hunk-header-line-number-style = cyan
	hunk-header-style = file line-number syntax

[delta "interactive"]
	keep-plus-minus-markers = false

[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax

[alias]
	st = status -sb
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
	last = log -1 HEAD --stat
	df = diff
	dc = diff --cached
	ac = !git add -A && git commit
	amend = commit --amend --no-edit
	undo = reset HEAD~1 --mixed
	nuke = reset --hard HEAD
	br = branch -v
	bra = branch -av
	co = checkout
	cob = checkout -b
	save = stash save
	pop = stash pop
	up = pull --rebase --autostash
	cleanup = "!git for-each-ref --format='%(refname:short)' refs/heads --merged | grep -vE '^(main|master|develop)$' | while read branch; do git branch -d \"$branch\"; done"
	show-file = "!f() { git show $1:$2; }; f"
	contributors = shortlog --summary --numbered --email

[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[includeIf "gitdir:~/Developer/work/"]
	path = ~/.gitconfig-work

[includeIf "gitdir:~/Developer/personal/"]
	path = ~/.gitconfig-personal
